.Flight-info {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.layover-info {
  text-align: center;
  background-color: bisque;
  font-weight: bold;
  margin: 0;
}

.detail-label p {
  font-size: 14px;
}

.layoverDurationContainer {
  position: relative;
  display: flex;
  justify-content: center;
  background: #ececec;
  height: 30px;
}

.layoverText {
  border: 1px dashed gray;
  padding: 3px 24px;
  height: 25px;
  width: 200px;
  background: white;
  z-index: 1;
}

.dashedLine {
  position: absolute;
  top: 15px;
  border-bottom: 1px dashed gray;
  width: 100%;
}
